<div>
  <span><strong>{{title_case field_name}}</strong></span>
  { {{~entry_name}}.{{field_name~}}.map((el: any, i: number) => {
    return <span>{{> (concat field_type.type "/" widget "/detail/render") vec="true"}}</span>
  })
  }
</div>
